/* Variables */

:root
{
    --primary-colour: #FFBA00;
    --secondary-colour: #222222;
    --tertiary-colour: #575757;
}


body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif;
}

body,
html {
    height: 100%;
    color: #404040;
    line-height: 1.8;
}

/* General CSS */

.no-margin {
    margin: 0px;
}

.main-section {
    padding: 60px 150px 60px 150px;
    background-color: var(--secondary-colour);
}

.main-section a {
    color: yellow;
}

.footer_icon {
    text-decoration: none;
    color: white;
}

.footer_icon:hover {
    text-decoration: none;
    color: var(--primary-colour);
}

/**

    Logo and Navbar CSS

**/

#logo_text {
    color: yellow;
    background-color: #101010;
}

#mainNavBar {
    background-color: rgba(255, 255, 255, 0.5);
}

#mainNavBar>a {
    background-color: rgba(0, 0, 0, 0) !important;
}

#mainNavBar>a:hover {
    color: yellow !important;
    background-color: rgba(16, 16, 16, 0.6) !important;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('../images/main.jpg');
    min-height: 100%;
}


/**

    Intro Section CSS

**/

.container {
    width: 100%;
    background-color: rgba(16, 16, 16, 0.8);
}

#intro {
    color: yellow;
}

/* == End Intro Section CSS == */

/**

    About Section CSS

*/

#testimonials-sec {
    color: yellow;
    background-color: #404040;
}

.quote {
    padding-top: 20pt;
    margin-bottom: 0pt;
    text-align: left;
}

.quote-author {
    margin-top: 0pt;
    text-align: right;
}

/** Execs Section **/

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/** 2nd Container CSS **/

/* Second image */
.bgimg-2 {
    background-image: url("../images/main2.jpg");
    min-height: 400px;
}

#logo2_text {
    color: yellow;
    background-color: rgba(16, 16, 16, 1);
    letter-spacing: 10px;
    padding: 10px;
}

/** Exec Team Separator CSS **/

.exec-separator {
    background-image: url("../images/main2.jpg");
    min-height: 200px;
}

.exec_container {
    padding: 100px 100px 100px 100px;
    transition: 0.3s;
}

.exec_row {
    padding: 20px 0 20px 0;
}

.exec_desc {
    color: var(--primary-colour);
    background-color: var(--secondary-colour);
    height: 100%;
    padding: 30px;
}

.exec_desc h2, h3, p
{
    padding-top: 10px;
}

@media (max-width: 1620px)
{

    .exec_container {
        padding: 50px;
    }
}

@media (max-width: 1520px)
{
    .exec_desc h2 {
        font-size: calc(2rem * 0.8);
    }

    .exec_desc h3 {
        font-size: calc(1.75rem * 0.8);
    }

    .exec_desc p {
        font-size: calc(1rem * 0.8);
    }
}

/* == End About CSS == */

/**

    Involvement Page CSS

**/

#flowchart {
    width: 80%;
    margin-top: 10rem;
    margin-bottom: 10rem;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

/* == End Involvement == */

/**

    Gallery Page CSS

**/

.album_gallery {
    margin: 60px 60px 60px 60px;
}

.album_desc {
    padding: 15px 15px 15px 15px;
}

.gallery_carousel {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

.gallery_thumbnail {
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(1);
    /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
    margin-bottom: 20px;
    width: 100%;
}

.gallery_thumbnail:hover {
    cursor: pointer;
    filter: none;
    /* IE6-9 */
    -webkit-filter: grayscale(0);
    /* Google Chrome, Safari 6+ & Opera 15+ */

}

#gallery_featured
{
    padding: 64px;
    background-color: #222222;
}

.gallery_featured_text
{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
    color: var(--primary-colour);
}

/* == End Gallery CSS == */

/**

    Contact Us Page CSS

**/

/* Overall contact-form styling */
.contact-form {
    width: 100%;
    padding: 20pt;
    background-color: var(--secondary-colour);
    color: var(--primary-colour);
}

.contact-form a {
    color: var(--primary-colour);
}

.contact-left {
    padding-left: calc(100vw * 0.2);
}

.contact-right {
    padding-right: calc(100vw * 0.2);
}

@media (max-width: 950px) {
    .contact-left {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .contact-right {
        padding-right: 10px;
        padding-left: 10px;
    }
}


/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: var(--primary-colour);
    color: #404040;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, change to white colour scheme */
input[type=submit]:hover {
    background-color: white;
    color: #404040;
}

/*

    Events Page CSS

*/

.events__box {
    padding: 60px;
    background-color: var(--tertiary-colour);
}

.events__feature {
    padding: 40px;
    background-color: var(--secondary-colour);
    color: var(--primary-colour);
    border-radius: 1rem;
    text-align: center;
    height: 100%;
}

/* On Smaller Screens */
@media only screen and (max-device-width: 1600px)
{
    .events__feature {
        margin-bottom: 1rem;
        height: unset;
    }   
}

#events__title {
    text-align: center;
    color: var(--primary-colour);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5rem;
}

.events__feature > img {
    margin: 0;
    padding-top: 1rem;
    width: 100%;
}

.events__feature > p {
    padding-top: 2rem;
    margin: 0;
}

/* == End Events Page CSS == */

/**

    3rd Container CSS


**/

#logo3_text {
    color: yellow;
    background-color: rgba(16, 16, 16, 1);
    letter-spacing: 10px;
    padding: 10px;
}

/**
    Miscellaneous CSS
**/

/* Create a Parallax Effect */
.bgimg-1,
.bgimg-2,
.bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("../images/gallery_5.jpg");
    min-height: 400px;
}

.w3-wide {
    letter-spacing: 10px;
}

.w3-hover-opacity {
    cursor: pointer;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {

    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        background-attachment: scroll;
        min-height: 400px;
    }
}